{% extends "layout.njk" %}

{% block main %}

{% for event in eventsToExport | sort(false, false, 'name') %}
  pub(crate) mod r#{{ event.name | snakeCase }};
{% endfor %}

{% for event in eventsToExport | sort(false, false, 'name') %}
  pub use self::r#{{ event.name | snakeCase }}::*;
{% endfor %}

{% endblock %}
